# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

Lab1/exercise1/code*
Lab1/pointers
Lab2/Section1/program1
Lab5/p1
Lab5/p3
Lab5/p6
Lab5/p9
Lab5/p12
Lab5/p24
Lab5/p48
Lab5/lab5
Lab6/serial2parallel
